<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/security
      http://www.springframework.org/schema/security/spring-security-4.2.xsd ">

    <!-- 取消对应请求路径的安全策略 -->
    <http pattern="/images/**" security="none" />
    <http pattern="/login.shtml" security="none" />
    <http pattern="/login/fail.shtml" security="none" />
    <http pattern="/register.shtml" security="none" />

    <!--
    auto-config =true:默认会配置多个SpringSecurity相关过滤器，如果不配，就不能正常使用SpringSecurity相关功能。
    use-expressions:是否使用SpELl表达式。
    ，pattern表示要拦截的路径，可以用通配符表示, * * 表示所有路径。 access表示对应地址访问所需的权限，
    如果use-expressions=“false”access=“hasRole(‘ROLE_ADMIN’)”这里的hasRole就可以去掉，
    我们后面都会设置成false，直接去掉这里的hasRole方便一点。ROLE_ADMIN表示ADMIN角色，这列角色自定义，
     可以随意定义什么角色，不过注意，这里必须得大写。
    -->
    <http auto-config="true" use-expressions="false">
        <!--所有带有admin的请求都需要ROLE_ADMIN权限
        <intercept-url pattern="/admin/**" access="ROLE_ADMIN" />-->
        <!--所有请求都需要ROLE_ADMIN权限-->
        <intercept-url pattern="/**" access="ROLE_ADMIN" />

        <!-- 自定义登录页面配置 -->
        <form-login login-page="/login.shtml"
                    default-target-url="/admin/user/list.shtml"
                    always-use-default-target="true"
                    authentication-failure-url="/login/fail.shtml"
                    username-parameter="usernameitcast"
                    password-parameter="passworditcast"
        />

        <!-- 关闭CSRF攻击 -->
        <csrf disabled="true" />

    </http>

    <!--授权认证管理器-->
    <authentication-manager>
        <authentication-provider>
            <!-- 引用加密对象 -->
            <password-encoder ref="encoder" />

            <!--硬编码方式创建用户并授权-->
            <!--<user-service>
                <user name="itcast" authorities="ROLE_ADMIN" password="123456" disabled="false" />
            </user-service>-->


            <!--
                数据源
                select * from users where username=? and password=?
 and password=?
                select * from users where username=?
                密码==用户输入的密码   登录成功
                密码!=用户输入的密码   登录失败
            -->
            <jdbc-user-service data-source-ref="dataSource" users-by-username-query="select * from users where username=?"
            />

        </authentication-provider>
    </authentication-manager>

    <!-- 加密工具 -->
    <beans:bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
        <beans:constructor-arg name="strength" value="9" />
    </beans:bean>

    <!-- 数据库连接池 -->
    <beans:bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
                destroy-method="close">
        <beans:property name="url" value="jdbc:mysql://localhost:3306/springsecurity?characterEncoding=utf8" />
        <beans:property name="username" value="root" />
        <beans:property name="password" value="123456" />
        <beans:property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
        <beans:property name="maxActive" value="10" />
        <beans:property name="minIdle" value="5" />
    </beans:bean>

</beans:beans>